{% extends 'eti/blog/layout.html.twig' %}

{% block content %}
   {% for message in app.flashes('notice') %}
      <div class="flash-notice">
         {{ message }}
      </div>
   {% endfor %}
   {{ form(form) }}
{% endblock %}