{# templates/blog/first_page.html.twig #}
{% extends 'eti/blog/layout.html.twig' %}

{% block title %}Blog Index / Login {% endblock %}

{% block content %}

{# Simple form renering #}
    {{ form(register_form) }}
{% endblock %}